<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>gestionSessionController</servlet-name>
        <servlet-class>controller.gestionSessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountingUsers</servlet-name>
        <servlet-class>controller.CountingUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestionSessionController</servlet-name>
        <url-pattern>/gestionSessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountingUsers</servlet-name>
        <url-pattern>/CountingUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>Counting Connected users</description>
        <listener-class>
            controller.CountingUsers
        </listener-class>
    </listener>
</web-app>
